
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div class="justify-center">
    </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 mt-2" %>
      </div>
    <% end %>
  </div>
</div>
