<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
        <%= link_to root_path do%>
          <%= image_tag "logo.png", class:"block h-8 w-auto lg:hidden" %>
          <%= image_tag "logo.png", class:"hidden h-8 w-auto lg:block" %>
        <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <% if user_signed_in? %>
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to "Dashboard", root_path, class:"bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <%= link_to "Log out", destroy_user_session_path, data: {"turbo-method": :delete}, class:"text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"  %>
              <%= link_to "New board", new_board_path, class:"text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"  %>
            <% end%>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
          
      <% else %>
        <div class="ml-4 flex flex-shrink-0 items-center">
          <%= link_to "Register", new_user_registration_path, class: "text-white"  %>
          <%= link_to "Log In", new_user_session_path, class: "ml-3 text-white" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
